*.pyc
.DS_Store
.vscode

CommonServerPython.py
CommonServerUserPython.py
CommonServerPowerShell.ps1
demistomock.py
demistomock.ps1

# neo4j
neo4j-data

# log files
demisto_sdk_debug.log
demisto_sdk_debug.log.*
*.log

# Environment and reports
.demisto-sdk-report
.env
.venv
